<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ahorro esperado</th>
      <th>Ahorro actual</th>
      <th>User</th>
      <th>Cuota</th>
      <th>Cuota actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.nombre %></td>
        <td><%= grupo.ahorro_esperado %></td>
        <td><%= grupo.ahorro_actual %></td>
        <td><%= grupo.user %></td>
        <td><%= grupo.cuota %></td>
        <td><%= grupo.cuota_actual %></td>
        <td><%= link_to 'Show', grupo %></td>
        <td><%= link_to 'Edit', edit_grupo_path(grupo) %></td>
        <td><%= link_to 'Destroy', grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo', new_grupo_path %>
